[include]
	path = ~/.gitconfig.user
[init]
	defaultBranch = main
[diff]
	algorithm = histogram
[general]

[commit]
	verbose = true
[rerere]
	enabled = true
	autoupdate = true
[core]
	excludesfile = ~/.gitignore
[rebase]
	autoSquash = true
	autoStash = true
	updateRefs = true
[pull]
	rebase = true
[alias]
	fixup = commit --fixup HEAD
	add-all = add -A
	adda = add -A
	rebasef = rebase -i HEAD~2
	force-push = push --force-with-lease
	commitm = commit -m
	undo = reset --soft HEAD~1
	st = status
[credential]
	helper = store
